<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>355919381258-fs0naliifoun66quao8160cg4tcvh4s9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355919381258-fs0naliifoun66quao8160cg4tcvh4s9</string>
	<key>API_KEY</key>
	<string>AIzaSyDtxBa8VGY-z9UEHaiz8zx1-a1iBI8pvH4</string>
	<key>GCM_SENDER_ID</key>
	<string>355919381258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guadianatechnologygames.breakingbricks</string>
	<key>PROJECT_ID</key>
	<string>game-breaking-bricks</string>
	<key>STORAGE_BUCKET</key>
	<string>game-breaking-bricks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355919381258:ios:a76a0acce032b43b</string>
	<key>DATABASE_URL</key>
	<string>https://game-breaking-bricks.firebaseio.com</string>
</dict>
</plist>